# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = GIT_NAME
	email = GIT_EMAIL
[init]
	defaultBranch = main
[core]
    excludesfile = ~/.gitignore_global
